In [4]:
a=15
print('Global a:',a)

def print_a():
    a=100
    print('Local a:',a)
    
print_a()

Global a: 15
Local a: 100

## Default Argument

In [ ]:
area > s > l*b

In [15]:
def area(l,b=0):
    if b==0:
        area=l*l
        print('Area of square is',area)
    else:
        area=l*b
        print('Area of rectangle is',area)
    return area

In [16]:
area(12)
area(12,34)

Area of square is 144
Area of rectangle is 408

408

In [23]:
def add(a=0,b=0,c=0):
    addition=a+b+c
    print('Sum is',addition)

In [25]:
add(34,5,6)
add(23,34)
add(23)
add()

Sum is 45
Sum is 57
Sum is 23
Sum is 0

In [29]:
def add(a=0,b=0,c=0):
    addition=a+b+c
    print('Sum is',addition)

In [ ]:
5 > 3

In [ ]:
(a,b,c,d,e)

In [30]:
def prod(a,b,c,d=1,e=1):
    pod=a*b*c*d*e
    print('Product is',pod)
    return pod

In [33]:
prod(2,3,4)
prod(2,3,4,5)
prod(2,3,4,5,6)

Product is 24
Product is 120
Product is 720

720

## Arbitrary Argument

In [35]:
def add(*arg):
    print(arg, type(arg))
    summ=0
    for i in arg:
        summ+=i
    print('Sum is',summ)
    return summ

In [40]:
add(12,34,53,6,64,77,36)
add(1,2,3)
add(31,34,62,47,3,8,7,5,9,4,8,69)
add()

(12, 34, 53, 6, 64, 77, 36) <class 'tuple'>
Sum is 282
(1, 2, 3) <class 'tuple'>
Sum is 6
(31, 34, 62, 47, 3, 8, 7, 5, 9, 4, 8, 69) <class 'tuple'>
Sum is 287
() <class 'tuple'>
Sum is 0

0

In [41]:
def add(a,*arg):
    print(a)
    print(arg, type(arg))
    summ=a
    for i in arg:
        summ+=i
    print('Sum is',summ)
    return summ

In [42]:
add(21,44,2,51,36)

21
(44, 2, 51, 36) <class 'tuple'>
Sum is 154

154

In [46]:
def add(*arg,a=0):
    print(a)
    print(arg, type(arg))
    summ=0
    for i in arg:
        summ+=i
    print('Sum is',summ)
    return summ

In [47]:
add(14,12,35,36)

0
(14, 12, 35, 36) <class 'tuple'>
Sum is 97

97

In [52]:
def prod(a,b,*nums,c=100):
    print(a,b)
    print(nums)
    print(c)
    mul=a*b
    for i in nums:
        mul*=i
    mul*=100   
    print('Product is',mul)
    return mul

In [54]:
prod(12,33,25,41,23,45,76,78,98,23)

12 33
(25, 41, 23, 45, 76, 78, 98, 23)
100
Product is 561334206232800000

561334206232800000

In [55]:
def prod(a,b,c=100,*nums):
    print(a,b)
    print(nums)
    print(c)
    mul=a*b
    for i in nums:
        mul*=i
    mul*=100   
    print('Product is',mul)
    return mul

In [56]:
prod(12,33,25,41,23,45,76,78,98,23)

12 33
(41, 23, 45, 76, 78, 98, 23)
25
Product is 22453368249312000

22453368249312000