In [ ]:
Student >> id, name, branch >> attributes
        >> greet, details >> method

In [4]:
class Student:
    
    def details(self, id, name, branch):
        print('Student Details:',id,name, branch)
        
    def greet(self, name):
        print(name,'says hello')

In [3]:
s1=Student()

In [5]:
s1.details()

TypeError: details() missing 3 required positional arguments: 'id', 'name', and 'branch'

In [6]:
s1.greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [7]:
class Student:
    
    def __init__(self,id,name,branch):
        
        self.id=id
        self.name=name
        self.subject=branch
        
    
    def details(self):
        print('Student Details:',self.id,self.name, self.subject)
        
    def greet(self):
        print(self.name,'says hello')

In [9]:
s1=Student(123,'Anne','CSE')

In [10]:
s1.details()

Student Details: 123 Anne CSE

In [12]:
s1.greet()

Anne says hello

In [13]:
s2=Student(456,'Peter',"civil")

In [18]:
s3=Student(789,'Beth','Mech')

In [21]:
s1.id
s1.name
s1.subject

'CSE'

In [17]:
s2.id

456

In [19]:
s3.id

789

In [25]:
s1.age=21 # Attribute created outside class

In [24]:
s1.age

21

In [29]:
print(s1.__dict__)

{'id': 123, 'name': 'Anne', 'subject': 'CSE', 'age': 21}

In [30]:
print(s2.__dict__)

{'id': 456, 'name': 'Peter', 'subject': 'civil'}

In [31]:
s2.college='COE'

In [32]:
s2.city='Chennai'

In [33]:
print(s2.__dict__)

{'id': 456, 'name': 'Peter', 'subject': 'civil', 'college': 'COE', 'city': 'Chennai'}

In [ ]:
s2.

In [35]:
class Fruit:
    
    def __init__(self,name,color):
        
        self.name=name  #attribute
        self.color=color #attribute
        print('Object initialized')
        
    def info(self): #method
        
        print('Colour of the fruit is',self.color)
        print('Fruit is',self.name)

In [36]:
f1=Fruit('Apple','red')

Object initialized

In [39]:
f1.info()

Colour of the fruit is red
Fruit is Apple

In [40]:
print(f1.__dict__)

{'name': 'Apple', 'color': 'red'}

In [42]:
f1.price=100

In [43]:
f1.price

100

In [44]:
print(f1.__dict__)

{'name': 'Apple', 'color': 'red', 'price': 100}

In [ ]:
class Fruit:
    
    def __init__(self,name,color):
        
        self.name=name  #attribute
        self.color=color #attribute
        self.price=100
        print('Object initialized')
        
    def info(self): #method
        
        print('Colour of the fruit is',self.color)
        print('Fruit is',self.name)

In [45]:
class Player:
    def __init__(self,name,role):
        self.name=name
        self.role=role
        print("Object Initilised")
    def info (self):
        print("name the player is",self.name)
        print("role is",self.role)
p1=Player("Raina","Left Handed batsmen")

Object Initilised

In [46]:
p1.info() #team

name the player is Raina
role is Left Handed batsmen

In [47]:
class person():
    def __init__(self,name,runs,role):
        self.name=name
        self.runs=runs
        self.role=role
        print('name is',self.name,'runs scored is:',self.runs,'role is:',self.role)
    def team(self,tm):
        self.tm=tm
        print('name of the team is:',tm)
obj=person('DHONI',67,'BATSMAN')
obj.team('CSK')

name is DHONI runs scored is: 67 role is: BATSMAN
name of the team is: CSK

In [48]:
class Player:

    team='csk'

    def __init__(self,name,runs,role):
        self.name=name
        self.runs=runs
        self.role=role

    def info(self):
        print(self.name,self.role)

    def run(self):
        print(self.runs)

d=Player('dhoni',1000,'wicket-keeper,batsman')

d.info()
d.run()
print(d.team)

dhoni wicket-keeper,batsman
1000
csk

In [49]:
class player:
    def __init__(self,name,runs,role):
        self.name=name
        self.runs=runs
        self.role=role

    def info(self):
        print(self.name,self.role)
        print(self.runs,'runs scored')
        
    def team(self,team):
        self.team=team
        print(self.team)


p1=player('dhoni',56,'bouler')
p1.info()
p1.team('csk')

dhoni bouler
56 runs scored
csk

In [50]:
class Player:
    def __init__(self,name,runs,role):
        self.name=name
        self.runs=runs
        self.role=role
        self.team='csk'
        print("object created")
    def info(self):
        print('display name',self.name)
        print('display role',self.role)
        print('display runs',self.runs)
        print('display team',self.team)
s=Player('kohli',100,'captain')
s.info()

object created
display name kohli
display role captain
display runs 100
display team csk

In [51]:
class players:
    def __init__(self, name, runs, role):
        self.name = name
        self.runs = runs
        self.role = role
        print('name is', self.name, 'runs scored is:', self.runs, 'role is:', self.role)

    def info(self, team):
        self.team = team
        print('name of the team is:', team)


obj = players('MSDHONI', 100, 'BATSMAN')
obj.info('CSK')

name is MSDHONI runs scored is: 100 role is: BATSMAN
name of the team is: CSK

In [52]:
class player:
    def __init__(self,name,runs,role):
        self.name=name
        self.runs=runs
        self.role=role

    def info(self):
        print(self.name,self.role)
        print(self.runs,'runs scored')
        
    def team(self,team):
        self.team=team
        print(self.team)


p1=player('raina',100,'batsmen')
p1.info()
p1.team('csk')

raina batsmen
100 runs scored
csk

In [53]:
class players:
    def __init__(self,name,runs,role):
        self.name=name
        self.runs=runs
        self.role=role
        print("name is",self.name,"runs is",self.runs)


    def team(self, tm):

        self.team = tm
        print('name of the team is:', tm)
obj =players('vk', 89, 'BATSMAN')
obj.team('rcb')

name is vk runs is 89
name of the team is: rcb