In [1]:
class Dog:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def greet(self):
        print('Hello,I\'m',self.name, 'I\'m',self.age,'years old.')

In [7]:
d1=Dog('scooby',5)

In [4]:
d1.greet()

Hello,I'm scooby I'm 5 years old.

In [8]:
d5=d1
d7=d5
#d1=d5=d7

In [14]:
print(d7.name,d5.name,d1.name,id(d1),id(d5),id(d7))

scooby scooby scooby 2329510539072 2329510539072 2329510539072

In [16]:
d5.name='Casper'

In [17]:
d5.name

'Casper'

In [18]:
print(d7.name,d5.name,d1.name,id(d1),id(d5),id(d7))

Casper Casper Casper 2329510539072 2329510539072 2329510539072

In [ ]:
Reference Variable:
    -Hold the object
    -Object can be created without them
    -An object can have multiple reference variables
    -Assigning a new reference does not create a new object

In [19]:
a=1000 #d1=Dog()

In [20]:
b=a   #d5=d1

In [22]:
c=b  #d7=d5

In [24]:
a,b,c

(1000, 1000, 1000)

In [ ]:
as a parameter
return object

In [25]:
def info(dog):
    
    print('This is',dog.name)
    print('Age is',dog.age)

In [26]:
info(d1)

This is Casper
Age is 5

In [28]:
def obj():
    p1=Dog('Mary',4)
    
    return p1

In [30]:
d2=obj()

In [31]:
d2.greet()

Hello,I'm Mary I'm 4 years old.

### Mutability

In [32]:
d3=Dog('Trey',8)

In [33]:
id(d3)

2329510972864

In [35]:
def modify(dog):

    dog.name='Peter'
    
    return dog

In [37]:
d4=modify(d3)

In [41]:
id(d4)==id(d3) #Mutable

True

In [43]:
str1='py'
print(id(str1))

2329404743344

In [44]:
str1='ML'
print(id(str1))

2329490300464