In [1]:
import pandas as pd

In [22]:
import numpy as np

In [6]:
data=[['bhavana','swathi'],[21,21]]
df=pd.DataFrame(data,columns=['name','age'])
print(df)

      name     age
0  bhavana  swathi
1       21      21

In [9]:
data=[['bhavana',21],
      ['swathi',16],['Bhavana',19]]
df=pd.DataFrame(data,columns=['name','age'])
df

      name  age
0  bhavana   21
1   swathi   16
2  Bhavana   19

In [10]:
info={'name':['Bhavana','Swati','Mounika'],
    'age':[18,19,20]}

In [11]:
pd.DataFrame(info)

      name  age
0  Bhavana   18
1    Swati   19
2  Mounika   20

In [18]:
prod=["p1",'p2','p3','p4','p5','p6']

In [23]:
info={'ID':[1001,1002,1003,1004,1005,1006],
    'Product':prod,
     'units_sold':[40,10,20,25,50,70],
     'price_Percent':[100,10,20,50,70,80],
     "Sales":np.random.randint(10,50,size=6)}

In [30]:
df1=pd.DataFrame(info).set_index('ID')

In [31]:
df2=pd.DataFrame(info)

In [34]:
df2.shape

(6, 5)

In [43]:
df1.shape

4

In [40]:
df3=pd.read_csv('Country-data.csv')

In [41]:
# Shape > no of rows, columns

df.shape >> (row, columns)

df.shape[0] > rows
df.shape[1] > columns

In [49]:
df2.shape[0] #rows
df2.shape[1] #columns
df2.shape #(rows, columns)

(6, 5)

In [53]:
df3.shape
df3.shape[0]
df3.shape[1]

10

In [ ]:
#index >> range/ list of index values

In [55]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [59]:
df1.index

Int64Index([1001, 1002, 1003, 1004, 1005, 1006], dtype='int64', name='ID')

In [60]:
#Columns

In [62]:
df3.columns

Index(['country', 'child_mort', 'exports', 'health', 'imports', 'income',
       'inflation', 'life_expec', 'total_fer', 'gdpp'],
      dtype='object')

In [64]:
df1.columns

Index(['Product', 'units_sold', 'price_Percent', 'Sales'], dtype='object')

In [66]:
df2.columns

Index(['ID', 'Product', 'units_sold', 'price_Percent', 'Sales'], dtype='object')

In [73]:
# Values >> values as a nested list where each row is a list

In [68]:
df1.values

array([['p1', 40, 100, 14],
       ['p2', 10, 10, 35],
       ['p3', 20, 20, 27],
       ['p4', 25, 50, 44],
       ['p5', 50, 70, 21],
       ['p6', 70, 80, 33]], dtype=object)

In [70]:
df2.values

array([[1001, 'p1', 40, 100, 14],
       [1002, 'p2', 10, 10, 35],
       [1003, 'p3', 20, 20, 27],
       [1004, 'p4', 25, 50, 44],
       [1005, 'p5', 50, 70, 21],
       [1006, 'p6', 70, 80, 33]], dtype=object)

In [72]:
df3.values

array([['Afghanistan', 90.2, 10.0, ..., 56.2, 5.82, 553],
       ['Albania', 16.6, 28.0, ..., 76.3, 1.65, 4090],
       ['Algeria', 27.3, 38.4, ..., 76.5, 2.89, 4460],
       ...,
       ['Vietnam', 23.3, 72.0, ..., 73.1, 1.95, 1310],
       ['Yemen', 56.3, 30.0, ..., 67.5, 4.67, 1310],
       ['Zambia', 83.1, 37.0, ..., 52.0, 5.4, 1460]], dtype=object)